# Python cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env
.env.*

# IDEs / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Archivos temporales
*.tmp
*.swp
